:root {
    --h-color: #b4b4b6;
    --p-color: #d6d5da;
    --supervisor-color: #00c3c3;
    --team-builder-color: #ff527b;
    --karma-color: #ffca47;
    --calculator-color: #3cbaff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}


.container {
    display: flex;
    padding: 2.5vh 5vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #fafafa;
    flex-direction: column;
    align-items: center;
}

.container header {
    display: flex;
    margin: 2.5vh 0;
    flex-direction: column;
    align-items: center;
}

.container header h2 {
    color: var(--h-color);
    font-weight: 300;
    font-size: 1.81vw;
    margin: 0;
}

.container header span h2 {
    color: black;
    font-size: 1.572vw;
}

.container header p {
    font-size: 0.8vw;
    width: 60%;
    color: var(--p-color);
}

.container .components {
    width: 80vw;
    display: grid;
    grid-template-areas: "l c1 r" " l c2 r";
    gap: 27.5px;
    text-align: left;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.components .component {
    box-sizing: border-box;
    display: inline-table;
    width: 22.5vw;
    padding: 0.625vw 1.25vw;
    background-color: white;
    box-shadow: 2.5px 12.5px 25px -2px rgb(0 0 125 / 15%);
}

.component::before {
    content: "";
    display: block;
    height: 5px;
    width: 22.5vw;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: 0 -1.25vw;
    top: -10px;
    left: 0;
}

.component.Supervisor::before {
    background-color: var(--supervisor-color);
}

.component.team-builder::before {
    background-color: var(--team-builder-color);
}

.component.Karma::before {
    background-color: var(--karma-color);
}

.component.Calculator::before {
    background-color: var(--calculator-color);
}

.container .components span {
    display: block;
    text-align: end;
    position: relative;
}

.container .components h3 {
    margin-bottom: 5px;
    font-size: 1.5vw;
}

.container .components p {
    color: var(--p-color);
    width: 90%;
    font-size: 1vw;
    margin-bottom: 5vh;
}


.container .components .component-Supervisor-container {
    grid-area: l;
    display: flex;
    align-items: center;
    position: relative;
}

.components .component.Supervisor {
    text-align: left;
    z-index: 1;
}

.components .component.team-builder {
    grid-area: c1;
}

.components .component-Calculator-container {
    grid-area: r;
    display: flex;
    align-items: center;
}

.components .component.Calculator {
    text-align: left;
}

.components .component.Karma {
    grid-area: c2;
}

@media (max-width: 768px) {
    .container {
        padding: 2.5vh 2vw;
        height: auto;
        width: 100%;
    }

    .container header {
        margin: 1.5vh 0;
        width: 75%; 
    }

    .container header h2 {
        font-size: 4.5vw;
    }

    .container header span h2 {
        font-size: 4vw;
    }

    .container header p {
        font-size: 3.5vw;
        width: 90%;
    }
    
    .container .components {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .components .component {
        width: 90vw;
        height: 400px;
        padding: 1.5rem;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    .component::before {
        width: 107.5%;
        height: 5px;
        border-radius: 10px 10px 0 0;
        position: relative;
        margin: 0px -3.12vw;
        top: -25px;
        left: 0;
    }

    .components .component h3 {
        font-size: 5vw;
    }

    .components .component p {
        font-size: 3.5vw;
        margin-bottom: 3vh;
    }

    .components .component img {
        width: 22.5%;
    }
}